.about_section-image{
    border-radius:30% ;
    overflow: hidden;
    transform: skew(15deg);
    transition: var(--transition);
}

.about_section-image:hover {
    transform: skew(0);
}

.about_section-image:nth-child(2){
    transform: skew(-15deg);
}

.about_section-content h1 {
    margin-bottom: 2rem;
}

.about_section-content p{
    margin-bottom: 1rem;
}


.about_story-container , .about_mission-container {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;

}

.about_Vision-container{
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 10%;
}

header h2{
   margin-bottom: 3rem;
    font-weight: 1000;

}

.about_story-container{ 
    padding-top: 9rem;
}

.about-section {
    margin-top: 2rem;
}